.first-page {
  background-image: url(../images/background-main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
article {
  height: 1000px;
}

nav ul li {
  list-style: none;
  color: white;
  margin: 4px;
  cursor: pointer;
}
nav ul li:hover {
  color: red;
}
